:root {
    --background: hsl(257, 40%, 49%);
    --hover: hsl(300, 69%, 71%);
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    grid-template-areas:
        "logo logo logo"
        ". mockup info"
        "footer footer footer";
    max-width: 1440px;
    min-height: 100vh;
    background-image: url("../images/bg-desktop.svg");
    background: cover;
    background-repeat: no-repeat;
    background-color: var(--background);
    background-size: cover;
    color: #fff;
    padding: 0 0 0 80px;
}

.logo {
    padding: 50px;
    grid-area: logo;
    max-height: 100px;
}

.mockup {
    grid-area: mockup;
    padding: 0 80px 0 100px;
}

.mockup img {
    width: 100%;
}

.info {
    margin-right: 50px;
    grid-area: info;
    padding: 50px 50px 0 0;
    max-width: 670px;
}

.info h1 {
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 5rem;
    text-transform: capitalize;
}

.info p {
    font-weight: 400;
    margin-top: 30px;
    font-size: 2.1rem;
}

.btn {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    border: none;
    text-align: center;
    font-size: 2rem;
    color: var(--background);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: var(--hover);
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10rem;
}

.footer a {
    color: #fff;
    font-size: 2.5rem;
    margin: 20px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-decoration: none;
}

.footer a:hover {
    border: 1px solid var(--hover);
    color: var(--hover);
    transform: scale(1.1);
}

@media (max-width: 950px) {
    body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: url('../images/bg-mobile.svg');
        overflow-x: hidden;
        padding: 0;
    }

    .info {
        margin-left: 25%;
        text-align: center;
    }

    .info h1 {
        font-size: 3.5rem;
    }

    .info p {
        font-size: 1.5rem;
    }

    .footer {
        margin-left: 100px;
    }

    .logo {
        margin-left: -130px; 

    }

    .logo img {
        height: 50px;
        width: 150px;
    }    
}

@media (min-width: 2000px){
    body {
        align-items: center;
        justify-content: center;
        padding-left: 25%;
    }

    .mockup img {
        width: 700px;
        height: 500px;
        margin: 0 150px 0 -250px;
    }

    .info h1 {
        font-size: 6rem;
    }

    .info p {
        font-size: 3rem;
    }

    .btn {
        width: 300px;
        height: 80px;
        margin-top: 50px;
    }

    .logo {
        margin-left: -260px;
    }

    .logo img {
        height: 150px;
        width: 400px;
    }  

    .footer a {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {

    .info {
        width: 400px;
    }

    .logo img {
        height: 50px;
        width: 150px;
    }  
}